/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
.uiHeader.ng-scope {
	animation: fade-in .5s ease-in;
}

.uiBlock.ng-scope {
 	animation: fade-in .5s ease-in;
}

.uiMidBlock.ng-scope {
	animation: rotate-up .5s ease-in;	
}

div.famBlock  {
	animation: rotate-in .5s ease-in;	
}

@keyframes fade-in {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes rotate-in {
	0% {
		opacity: 0.5; 
		transform: rotateY(-90deg);
	}
	100% {
		opacity: 1.0; 
		transform: rotateY(0deg);
	}
}

@keyframes rotate-up {
	0% {
		opacity: 0.5;
		transform: rotateX(-90deg);
	}
	100% {
		opacity: 1.0;
		transform: rotateX(0deg);
	}
}