/* VARS */
:root {
  --main-colorBg: #bf894b;
  --main-colorBg2: #c95d37;
  --main-colorBg3: #f27d0c;
  --main-colorBg4: #FFDDAA;
  --main-colorText: white;
  --main-colorText2: #f27d0c;
  --main-colorText3: #fdf6f0;
  --main-color1: #800909;
  --main-color2: #f27d0c;
  --main-color3: #546f51;
}

@page {
	size: 2.08in 3.05in; 
	margin: 0in;
	size: landscape;
}

@media print
{    
	div#uiMain, div#uiMain *
	{
		display: none !important;
	}
	html, body, page {
		width: 2.95in;
		height: 1.98in;
		margin: 0.05in;
		box-shadow: 0
	}
}

@media screen {
	div#printMe, div#printMe *
	{
		display: none !important;
		margin-left:50px; 
	}
}

.hidden {
	display: none;
}

html {
	height: 98%;
}

body {
	background-color: #757676;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	height: 100%;
	background: url(images/fur.jpg);
	background-repeat: repeat-y;
	background-size: cover;
}

div#uiMain {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	min-height: 97%;
	flex-direction: column;
	margin-top: 2%;
}

div.uiHeader {
	display: block;
	width: 75%;
	background-color: var(--main-colorBg);
	height: 150px;
	border: 2px groove var(--main-color1);
	border-radius: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	color: var(--main-colorText);
	line-height: 1.4;
	max-width: 1100px;
}

div.uiHeader > div {
	align-self: center;
}

div.uiHeader > div.famBlock {
	margin: 7px;
	background-color: var(--main-colorBg2);
	color: var(--main-colorText3);
	border-radius: 15px;
	padding: 15px;
	cursor: pointer;
}

div.uiHeader > div.famBlock > span.famName {
	font-size: 1.5em;
	font-weight: bold;
}

div.uiHeader > div.famBlock > span.famNameSmall {
	font-size: 1.1em;
}

/* MID SUB BLOCKS */

div.uiMidBlock {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 850px;
}

div.uiMidBlock > button {
	width: 	100%;
	margin: 10px 0px 5px 0px;
	padding: 10px;
	margin-bottom: 7px;
	background-color: var(--main-colorBg2);
	border: 1px solid;
	font-size: 2em;
	color: white;
	cursor: pointer;
}

/* BLOCKS */
div.uiBlock {
	display: block;
	width: 74%;
	background-color:  var(--main-colorBg4);
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	padding: 10px;
	border-radius: 10px;
	/*min-height: 365px;*/
	max-width: 875px;
}

div.checkPrintables, div.twoColBlock {
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

div.checkPrintables > div, 
div.twoColBlock > div {
	/*border: 2px solid white;*/
	margin: 10px;
	display: inline-block;
}

div.checkPrintables > div.chechPrintMems, 
div.twoColBlock > div,
div.newFam {
	padding: 10px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

div.checkPrintables > div.chechPrintMems > span {	
	font-size: 2em;
}

div.checkPrintables > div.chechPrintMems > label > input {
	width: 23px;
	height: 23px;
}

div.checkPrintables > div.chechPrintMems > label {
	font-size: 2em;
	margin-bottom: 10px;

}

div.checkPrintables > div.printDiv {
	width: 250px;
}

div.checkPrintables > div.printDiv > button {
	width: 99.5%;
	padding: 40px;
	margin-bottom: 7px;
	background-color: var(--main-colorBg3);
	border: 1px solid;
	font-size: 2em;
	color: white;
	cursor: pointer;
}

div.chechPrintMems > span {
	width: 370px;
}

div.chechPrintMems > span.titleAlert {
	text-align: center;
	color: #794044;
}

div.chechPrintMems > span.visitTitle > b {
	font-weight: bolder;
	font-size: 120%;
}

div.chechPrintMems > section {
	text-align: center;
}

div.chechPrintMems > section > button {
	padding: 10px 25px;
	font-size: 2em;
	margin: 10px;
	color: 	white;
	background-color: #794044;
}

div.chechPrintMems > section > button:nth-child(2) {
	background-color: #205C2E;
}

div.twoColBlock {
	justify-content: space-around;
}

div.twoColBlock > div {
	min-height: 	210px;
}

div.settingsText > input[type=text],
div.settingsText > input[type=number] {
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	border: 1px dotted;
	padding: 3px;
	font-size: .95em;
	width: 210px;
}

div.settingsText > input[type=checkbox] {
	margin-right: 210px;
	margin-top: 5px;
	height: 20px;
	width: 20px;
}

div.settingsText > span {
	min-width: 150px;
	padding-top: 4px;
}

div.reportDiv {
	margin-top: 10px;
}

div.reportDiv > span {
	font-size: 1.3em;
}

div.reportDiv > button {
	background-color: var(--main-colorBg3);
	border: 1px solid;
	font-size: 1.3em;
	color: white;
	cursor: pointer;
	padding: 4px 8px;
	margin: 3px 10px;
}

div.newFam > label,
div.newFam > input[type=text],
div.newFam > div > label,
div.newFam > div > input[type=text],
div.newFam > div > input[type=date],
div.newFam > div > select {
	margin: 10px;
	font-size: 1.45em;
}

div.newFam > input[type=text] {
	text-align: center;
}

div.newFam > div > label {
	display: inline-block;
	width: 150px;
}

div.newFam > div > label.skinny {
	width: initial;
	margin: 2px 5px;
}

div.newFam > div > input[type=text],
div.newFam > div > input[type=date],
div.newFam > div > select {
	display: inline-block;
	text-align: left;
	width: 265px;	
}

div#newCheckinBlock {
	margin-top: 30px;
}

div#adminLeft {
	text-align: center;
}

div#adminRight {
	min-width: 90%;	
}

div#adminRight > div {
	width: 100%;
}

div#adminRight > div > button {
	margin: 4px;
}

div.thumbGallery {
	margin: 10px 0 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.thumbGallery > div {
	text-align: center;
	width: 		200px;
}

div.thumbGallery > div > span {
	font-size: 1.3em;
	display: block;
	position: relative;
	top: -35px;
	color: #222;
	/*text-shadow: 1px 1px 0 #222, 2px 2px 0 #000000;*/
}

div.thumbGallery > div > img {
	display: block;
	width: 185px;
	height: 104px;
    padding: 5px 5px 30px 5px;
	background-color: white;
    display: inline-block;
    box-shadow: 8px 8px 15px #444;
}

div.flexNoWrap {
	display: flex;
	flex-wrap: nowrap;
}

div.blockTop {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.famMember {
	margin-top: 10px;
}

div.famMember > span {
	font-size: 1.4em;
	padding: 2px 5px;
}

div.famMember > span.famName {
	display: inline-flex;
	background-color: var(--main-colorBg2);	
	cursor: pointer;
	color: var(--main-colorText);
	border-radius: 5px;
	min-width: 150px;
	text-align: center;
	border: 1px dotted white;
}

/* BLOCK SUB BLOCKS */


div.keyboard > table {
	margin-left: auto;
	margin-right: auto;
}

input.searchField {
	width: 	100%;
	font-size: 2em;
	opacity: .75;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: 3px dashed var(--main-color2);
	outline: none;
}

span.headText {
	font-size: 3.1em;
	text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
}

span.blockHeader {
	font-size: 1.75em;	
	border-bottom: 2px groove gray;

}

div.settingsText {
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: flex-start;
}

div.settingsText > label {
	margin-bottom: 5px;
	font-size: .85em;
}

/* DISPLAY VARIENTS */

.flexAlignContent {
	display: flex !important;
	align-content: center;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.noBg { 
	background: transparent !important;
	border: none !important;
}

/* PRINT FORMATTING */

div.printLabel {
	display: flex;
	transform: rotateX(0deg);
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-around;
/*	border: 2px black solid;
	border-radius: 10px;*/
	text-align: center;
	/*width: 	3.28in;*/
	/*height: 2.08in;*/
	width: 2.95in;
	height: 1.98in;
	/*width: 100%;*/
	/*width: 100%;*/
	/*transform: rotate(90deg);*/
	/*margin: 10px;*/
	page-break-after: always;
	page-break-inside: avoid;
}

div#printMe > div:last-child {
	page-break-after: avoid;
}

div.printLabel > span {
	width: 95%;
}

div.printLabel > span.name {
	font-size: 2.6em;
	width: 92%;
	text-align: center;
	border-bottom: 2px outset gray;
}

div.printLabel > span.labelMsg {
	font-size: 1.5em;
}

div.printLabel > span.allergies {
	font-size: 1.15em;
	align-self: flex-end;
	/*font-style: italic;*/
}

div.printLabel > span.code {
	align-self: flex-end;
	/*font-family: Verdana, Geneva, sans-serif;*/
}

div.printLabel > span.code > b {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 2px;
}

div.printLabel > span.code > i {
	font-size: 1em;
	position: relative;
	font-weight: lighter;
	bottom: .14em;
	font-style: normal;
}

div.printLabel > span.reportTitle {
	/*width: 92%;*/
	text-align: center;
	border-bottom: 2px outset gray;
}

div.printLabel > span.reportFooter {
	/*width: 92%;*/
	text-align: center;
	border-top: 2px outset gray;
	font-style: italic;
	font-size: 1.7em;
}

div.printLabel > div.reportGroup {
	width: 95%;
	text-align: left;
	margin-top: 10px;
}

div.printLabel span.reportUnit {
	margin-top: 10px;
	margin-bottom: -10px;
	text-decoration: underline;
}

div.printLabel > div > span.reportValue {
	margin-top: -10px;
}

div.printLabel > span.noData {
	font-size: 1.7em;
	text-align: center;
}

button.blockMed {
	background-color: var(--main-colorBg3);
	margin: 3px 10px 4px 10px;
	border: 1px solid;
	font-size: 1.7em;
	color: white;
	cursor: pointer;
	padding: 4px 8px;
}

div.flexNoWrap > button.blockMed {
	font-size: 1.5em;
	width: 250px;
}

button.warn {
	background-color: #992211;
}

button.good {
	background-color: #114411;
}

button.neutral {
	background-color: #333;
}