<!doctype html>
<html ng-app="regMod">
	<head>
	<!-- JS RESOURCES -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-sanitize.min.js"></script>
		<script src="scripts/angular-animate.min.js"></script>
		<script src="scripts/angular-on-screen-keyboard.min.js"></script>   
		<script src="data/data.js"></script>
		<script src="scripts/ng.js"></script>
		<script src="scripts/ctrlUI.js"></script>
	<!-- CSS RESOURCES -->
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/ag-animate.css">
		<link rel="stylesheet" href="css/angular-on-screen-keyboard.min.css">
	</head>
	<body ng-controller="regCon">

<!-- PRINTER ONLY -->
		<div id="printMe">
		</div>

<!-- SCREEN ONLY -->
		<div id="uiMain">

<!-- HEADER -->
		<div class="uiHeader noBg flexAlignContent">

		<!-- HEADER :: WELCOME -->
				<span ng-if="uiDisp.header.welcome" class="headText">{{config.ui.welcomeMsg.value}} {{config.ui.ministryName.value}}<br/>{{config.ui.appName.value}}</span>

		<!-- HEADER :: FAM CHOOSE -->
				<div ng-if="uiDisp.header.famChoose" class="famBlock" ng-repeat="fam in famMatch track by $index | limitTo: 5" ng-click="famSelect(fam)">
						<span class="famName">{{fam.name | capFirst}}</span>
						<hr />
						<span class="famNameSmall">{{fam.adult1 | capFirst}}</span>
						<span class="famNameSmall" ng-if="fam.adult2">&amp; {{fam.adult2 | capFirst}}</span>
				</div>

		<!-- HEADER :: Child Select -->
				<div ng-if="uiDisp.header.checkSelect">
					<span class="headText"><u>{{focusFam.name | capFirst}} Family</u></span>
					<br />
					<span class="headText">{{config.ui.famCheckinHeadText.value}} {{config.ui.ministryName.value}}!</span>
				</div>

		<!-- HEADER :: Vistor Check-in -->
			<div ng-if="uiDisp.header.newCheckin">
				<span class="headText" ng-bind-html="config.ui.newCheckinHeadText.value"></span>
			</div>

		<!-- HEADER :: Add Data -->
			<div ng-if="uiDisp.header.addData">
				<span class="headText">{{config.ui.ministryName.value}}}</span>
			</div>

		<!-- HEADER :: Add Data -->
			<div ng-if="uiDisp.header.admin">
				<span class="headText">{{config.ui.ministryName.value}}<br/>{{config.ui.appName.value}} Settings</span>
			</div>
		</div> 
<!-- END HEADER -->

<!-- MIDBLOCK -->
			<div class="uiMidBlock">
		<!-- MIDBLOCK :: FAMILY SEARCH -->
				<input ng-if="uiDisp.mid.famSearch" id="searchFamInput" autofocus class="searchField" type="text" ng-model="inputFamSearch" placeholder="Enter Family Last Name" ng-change="famSearch(inputFamSearch)">
				<button ng-if="uiDisp.header.welcome" ng-click="newCheckin()">{{config.ui.newRegButton.value}}</button>
		<!-- MIDBLOCK :: BACK BUTTON -->
				<button ng-if="uiDisp.mid.goBack" ng-click="goBack()">{{config.ui.backButton.value}}</button>
			</div> 
<!-- END MIDBLOCK -->

<!-- START BLOCKS -->
		<!-- BLOCK :: CHECK IN SELECT -->
			<div class="uiBlock" ng-if="uiDisp.block.checkSelect">
				<span class="blockHeader">{{config.ui.famCheckinBlockText.value}}</span>
				<div id="checkSelectBlock"></div>
			</div>

		<!-- BLOCK :: VISITOR CHECK IN -->
			<div class="uiBlock" ng-if="uiDisp.block.newCheckin">
				<span class="blockHeader">{{config.ui.newCheckinBlockText.value}}</span>
				<div id="newCheckinBlock" class="checkPrintables" >
					<div class="chechPrintMems">
							<span class="visitTitle">Checking in <b id="visitPrintCount">{{visitKids}}</b>
								<span ng-if="visitKids == 1"> Child</span>
								<span ng-if="visitKids > 1"> Children</span>
							</span>
							<section>
								<button ng-click="changeVisitors(-1)"> &darr; </button>
								<button ng-click="changeVisitors(1)"> &uarr; </button>
							</section>
							<span class="titleAlert" ng-if="visitKids > 9">Wow... Really?!</span>
					</div>
				</div>
			</div>

		<!-- BLOCK :: ADMIN MENU -->
			<div class="uiBlock" ng-if="uiDisp.block.admin">
				<!-- <span class="blockHeader">Settings</span> -->
				<div class="blockTop">
					<button class="blockMed" ng-click="adminMenu('text')">Text</button>
					<button class="blockMed" ng-click="adminMenu('data')">Data</button>
					<button class="blockMed" ng-click="adminMenu('security')">Security</button>
					<button class="blockMed" ng-click="adminMenu('apperance')">Appearance</button>
					<button class="blockMed" ng-click="adminMenu('reports')">Reports</button>
				</div>
				<div class="twoColBlock">
					<!-- <div id="adminLeft"></div> -->
					<div id="adminRight"></div>
				</div>
			</div>

		<!-- BLOCK :: REGISTER/EDIT FAMILY  -->
			<div class="uiBlock" ng-if="uiDisp.block.editFam">
				<div class="blockTop">
					<!-- Family Actions -->
					<button ng-if="focusFam.edit == '' || focusFam.edit == 'addFamily'" class="blockMed" ng-click="focusFam.edit = 'addFamily'">Last Name</button>
					<button ng-if="focusFam.edit == '' || focusFam.edit == 'addAdult'" class="blockMed" ng-click="focusFam.edit = 'addAdult'">Add Adult</button>
					<button ng-if="focusFam.edit == '' || focusFam.edit == 'addChild'" class="blockMed" ng-click="focusFam.edit = 'addChild'">Add Child</button>
				</div>
				<div class="twoColBlock">
					<!-- Family Members -->
					<div ng-if="focusFam.name != ''" id="newFamLeft" class="newFam">
						<span class="blockHeader">{{focusFam.name  | capFirst}} Family</span>
						<div class="famMember" ng-repeat="mem in focusFam.members">
							<span class="famGrade">{{mem.grade}}: </span>
							<span class="famName" ng-click="editFam(this)">{{mem.first | capFirst}}</span>
						</div>
					</div>
					<div id="newFamRight" class="newFam">
					<!-- New Family -->
						<label ng-if="focusFam.edit == 'addFamily'" for="newFamName">Family last name:</label>
						<input ng-if="focusFam.edit == 'addFamily'" id="newFamName" type="text" value="{{focusFam.name}}">
					<!-- Add Member -->
						<div ng-if="focusFam.edit == 'addAdult' || focusFam.edit == 'addChild' || focusFam.edit == 'edit'">
							<label for="newName">First name:</label>
							<input id="newName" type="text" value="">
						</div>
						<div ng-if="focusFam.edit == 'addAdult' || focusFam.edit == 'addChild' || focusFam.edit == 'edit'">
							<label for="newAllergies">Allergies:</label>
							<input id="newAllergies" type="text" value="">
						</div>
						<div ng-if="focusFam.edit == 'addAdult' || focusFam.edit == 'addChild' || focusFam.edit == 'edit'">
							<label>Gender:</label>
							<select name="newGender" id="newGender">
								<option ng-selected="focusMem.gender == 'M'" value="M">Male</option>
								<option ng-selected="focusMem.gender == 'F'" value="F">Female</option>
							</select>
						</div>
						<div ng-if="focusFam.edit == 'addChild' || focusFam.edit == 'edit'">
							<label for="newDob">Date of Birth:</label>
							<input id="newDob" type="date" value="{{focusMem.dob}}">
						</div>
					<!-- UNIT LEVEL UPDATES -->
						<div>
							<button ng-if="focusFam.edit != ''" class="blockMed neutral" ng-click="focusFam.edit = ''">Cancel</button>
							<button ng-if="focusFam.edit == 'edit'" class="blockMed warn" ng-click="editFam('removeMember')">Remove</button>
							<button ng-if="focusFam.edit == 'addFamily' || focusFam.edit == 'addChild' || focusFam.edit == 'addAdult'" class="blockMed good" ng-click="editFam()">Save</button>
							<button ng-if="focusFam.edit == 'edit'" class="blockMed good" ng-click="editFam('update')">Update</button>
						</div>
					</div>
				</div>
				<!-- GROUP LEVEL UPDATES -->
				<div ng-if="focusFam.edit == ''" class="blockTop">
					<button class="blockMed neutral" ng-click="goBack()">Cancel</button>
					<button ng-if="focusFam.members.length > 1 && focusFam.edit != 'addFamily'" class="blockMed warn" ng-click="editFam('removeFamily')">Remove Family</button>
					<button ng-if="focusFam.members.length > 1" class="blockMed good" ng-click="editFam('done')">Save Family</button>
				</div>
			</div>

		<!-- BLOCK :: ONSCREEN KEYBOARD -->
			<div class="uiBlock noBg" ng-if="uiDisp.block.keyB">
				<on-screen-keyboard ng-click="focusSearch()"></on-screen-keyboard>
			</div>
<!-- END BLOCKS -->

<!-- FOOTER BLOCK -->
			<div class="uiMidBlock">
			<!-- MIDBLOCK :: EDIT FAMILY -->
				<button ng-if="uiDisp.mid.famEdit && config.security.editFamilies.value" ng-click="prepFam()">{{config.ui.famEditButton.value}}</button>
			</div>

		</div> 
<!-- END uiMain -->
	</body>
</html>